.input-file-container { 
  width: 2vh;
} 

.input-file-container img{
  width: 58%;
  height: 70%;
  margin: 16% 0 0% 7%;
}

.canvas{
  position: relative;
  padding: 0 !important; 
}

 .input-file-trigger {
	display: block;
	background: #ff0050;
	color: #fff;
	font-size: 1vw;
	transition: background .4s;
	cursor: pointer;
	position: absolute;
	width: 8vh;
	height: 8vh;
	border-radius: 6vh;
	text-align: center;
	right:  1.5vh;
	top: 1.5vh;
}
 .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 6vh;
  opacity: 0;
  padding: 1.68vh 0;
  cursor: pointer;
  display: none;
}
 .input-file:hover + .input-file-trigger,
 .input-file:focus + .input-file-trigger,
 .input-file-trigger:hover,
 .input-file-trigger:focus {
 
  color: white;
  outline: none;
  webkit-box-shadow: 0px 0px 4px 2px #990000;
  box-shadow: 0px 0px 4px 2px #990000;
}

.file-return {
  display: none;
}
.file-return:not(:empty) {
  margin: 1vh 0;
  display: inherit;
}
 
 

input[type="range"] {
	width: 100%;
  -webkit-appearance: none;
  border: 1px solid black;
  display: block; 
  height: 2px;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  border-radius: 2vh;
  background-color: #242323;
  -webkit-box-shadow: inset 0 0.5vh 0.5vh rgba(0,0,0,.6);
  -moz-box-shadow: inset 0 0.5vh 0.5vh rgba(0,0,0,.6);
  box-shadow: inset 0 0.5vh 0.5vh rgba(0,0,0,.6);
  top: 100%;
  position: relative;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  border: 2px solid #17c0b7;
   
}  

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3vh;
    height: 3vh;
    z-index: 5;
    border:1px solid black;
    -webkit-border-radius: 2vh;
    border-radius: 2vh;
    background: #80e4df; /* Old browsers */
	  background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: linear-gradient(to top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}



.player{
  position: relative;
  top: -100%;
}

 

.playControls a{ 
  margin: 0 auto;
  cursor: pointer;
}

.playControls a:focus { 
  outline: none;
}


.playControls a:focus img{ 
  -webkit-filter: drop-shadow(1px 1px 0px #17c0b7);
  filter: drop-shadow(1px 1px 1px #17c0b7);
}


.playControls img{ 
	max-width: 10vh;
  margin: 4vh auto;
  display: block;
}

.durationBar {
  width: 100%;
  height: 25% !important;
  margin: 0 auto !important;
  z-index: 1;
  position: relative;
}

.durationBar span{
  text-align: center;
  color: black;
  font-size: 1.5vw;
  display: block;
  width: 100%;
  position: relative;
  top: calc(100% - 14px);
}

.fluid-container{
  padding:  0;
  height: 100%;
  position: absolute;
  width: 200%;
  left: 0%;
  top: 0;
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease; /* Safari 3.1 to 6.0 */ 
}

.info{
  display: table-cell;
  vertical-align: middle;
	text-align: center;
	color: black;
	margin-bottom: 4.5vh;
	font-size: 2.5vw; 
  transition: all 2s ease;
  -webkit-transition: all 2s ease; /* Safari 3.1 to 6.0 */ 
}

.shadow{
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-4, OffY=-4, Color='#444')";
	  	filter: url(#drop-shadow);
	  	-webkit-filter: drop-shadow(0.5vw 0px 4px rgba(0,0,0,1));
	  	 filter: drop-shadow(0.5vw 0px 4px rgba(0,0,0,1));
       text-shadow: 0.2vw 0px 4px black;
}

#title{
	font-size: 5.5vw;
	padding: 0 2vh;
}

.prev img{
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


 

#sensors{
  height: 100%; 
  width: 100%;
  /*filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-4, OffY=-4, Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(15px -6px 30px rgb(0, 0, 0));*/
}

 

form{
  z-index: 100;
  position: absolute;
  width: 100%;
}


.playerWrapper .col, .playerWrapper .col-12{
  /*padding: 0 !important;*/
}

.playerWrapper .row{
  /*margin: 0 auto !important;*/
}

.tagWrapper{
  position: relative;
  top: calc(25% - 50px);
  display: table;
  margin: 0 auto;
  z-index: 0;
  display: table;
  margin: 0 auto;
}

.textShadow{
  text-shadow: 2px 2px 14px black;
  color: white;
}




.playerWrapper{
  height: 100%;
  margin: 0 !important;
  overflow: hidden;
}


